a {
    text-decoration: none;
    color: #002bb8;
    background: none;
}

h1, h2, h3, h4, h5, h6 {
    color: yello;
    background: none;
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
}

td {
    font-weight: normal;
	font-size : 10pt;

}

#a:visited { color: #002bb8; }
a:hover { text-decoration: underline; }
a.stub { color: #772233; }
a.new,
#p-personal a.new { color:#ba0000; }
a.new:visited,
#p-personal a.new:visited { color:#a55858; }


textarea {
    border: 1px solid gray;  
    color: Black;
    background-color: wheat;
    width: 100%;
    padding: 0.1em;
    overflow: auto;
}
/* hide this from ie/mac and konq2.2 */
@media All {
    head:first-child+body input {
        visibility: visible;
        border: 1px solid gray;  
        color: Black;
        background-color: wheat;
        vertical-align: middle;
        padding: 0.2em;
    }
}

input[type="radio"],
input[type="checkbox"] { border:none; }
select {
    border: 1px solid gray;  
    color: Black;
    background-color: wheat;
    vertical-align: top;
}

select.simplex {
    border: 1px solid gray;  
    color: Black;
	font-size : 12pt;
    background-color: wheat;
    vertical-align: top;
}


